@page {
  size: A4;
  margin: 0;
}

@font-face {
  font-display: swap;
  font-family: "Cousine";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/cousine/cousine-regular.ttf);
}

@font-face {
  font-display: swap;
  font-family: "Cousine";
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/cousine/cousine-bold.ttf);
}

@font-face {
  font-display: swap;
  font-family: "Stoke";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/stoke/stoke-regular.ttf);
}

@font-face {
  font-display: swap;
  font-family: "Stoke";
  font-style: normal;
  font-weight: 200;
  src: url(./fonts/stoke/stoke-light.ttf);
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: #b0c4de;
  color: #000;
  opacity: 1;
}

:root {
  color: #000;
  font-family: "Cousine", monospace;
  line-height: 1;
}

html {
  display: flex;
  flex-flow: column;
  min-height: 100%;
}

body {
  display: flex;
  flex: 1;
  flex-flow: column;
  margin: 0;
}

body > * {
  flex: 1;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.5);
  text-decoration-thickness: 1px !important;
}

a:hover {
  color: #00f;
  text-decoration-color: currentColor;
}

p {
  margin: 0;
}

address {
  font-style: normal;
}

.c-layout {
  --edge-gap: min(48px, 4vw);
  --layout-page-width: min(60rem, 100vw - var(--edge-gap) * 2);
  align-items: center;
  background-color: #b0c4de;
  display: flex;
  flex-flow: column;
  padding: var(--edge-gap) 0;
  position: relative;
}

@media print {
  .c-layout {
    --edge-gap: 0px;
  }
}

.c-layout__bg-canvas {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media print {
  .c-layout__bg-canvas {
    display: none;
  }
}

.c-layout__page-set {
  position: relative;
  z-index: 2;
}

.o-page-set {
  display: flex;
  flex-flow: column;
  gap: calc(var(--edge-gap) * 0.75);
}

@media print {
  .o-page-set {
    gap: 0;
  }
}

.o-page-set__item {
}

.o-page-set__page {
}

.c-page {
  --page-width: var(--layout-page-width, 60rem);
  --page-height: calc(var(--page-width) * 1.4142);
  --pfr: calc(var(--page-width) / 60);
  background: #fff;
  display: flex;
  flex-flow: column;
  font-size: calc(var(--page-width) / 60);
  height: var(--page-height);
  padding: calc(var(--pfr) * 4.5);
  width: var(--page-width);
}

@media print {
  .c-layout {
    --page-width: 100vw;
    --page-height: 100vh;
  }
}

.c-page__header {
  flex: 0 0 18%;
}

.c-header {
  align-content: space-between;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: calc(var(--pfr) * 2);
}

.c-header__heading {
  font-family: "Stoke", serif;
  font-size: 3em;
  font-weight: 300;
  line-height: 1.1333;
}

.c-header__contact-info {
  display: flex;
  flex-flow: column;
  gap: calc(var(--pfr) * 0.75);
  text-align: right;
}

.c-header__subheading {
  flex: 100%;
  font-size: 1.375em;
  font-weight: 700;
}

.c-contact-info {
}

.c-contact-info__item {
}

.c-contact-info__phone {
  font-size: 1.25em;
  font-weight: 700;
  text-decoration: none;
}

.c-contact-info__link {
  font-size: 1em;
}

.c-page__summary {
  flex: 0 0 13%;
}

.c-summary {
  align-items: center;
  border: solid;
  border-width: 1px 0;
  display: flex;
  flex-flow: row;
}

.c-summary__paragraph {
  font-family: "Stoke", serif;
  font-size: 1.25em;
  line-height: 1.6;
}

.c-page__cols {
  flex: 1 1 auto;
}

.c-cols {
  display: flex;
  flex-flow: row;
}

.c-cols__main {
  display: flex;
  flex: 17;
  flex-flow: column;
  padding-right: calc(var(--pfr) * 3);
}

.c-cols__main--pad-top {
  padding-top: calc(var(--pfr) * 2);
}

.c-cols__main--pad-bottom {
  padding-bottom: calc(var(--pfr) * 3);
}

.c-cols__side {
  border-left: 1px solid;
  display: flex;
  flex: 8;
  flex-flow: column;
  padding-left: calc(var(--pfr) * 2.5);
}

.c-cols__side--pad-top {
  padding-top: calc(var(--pfr) * 2);
}

.c-cols__side--pad-bottom {
  padding-bottom: calc(var(--pfr) * 3);
}

.c-cols__side--align-bottom {
  justify-content: flex-end;
}

.c-section {
  display: flex;
  flex-flow: column;
}

.c-section--grow {
  flex-grow: 1;
}

.c-section--space-below {
  margin-bottom: calc(var(--pfr) * 4);
}

.c-section__title {
  font-size: 0.875em;
  font-weight: 400;
  letter-spacing: 0.14286em;
  text-transform: uppercase;
}

.c-section__title--right {
  text-align: right;
}

.c-section__title--space-below {
  margin-bottom: calc(var(--pfr) * 2);
}

.c-section__description {
  font-family: "Stoke", serif;
  line-height: 1.25;
}

.c-fun-fact {
  border: 1px solid;
  font-size: 0.9em;
  line-height: 1.25;
  padding: calc(var(--pfr) * 0.75) calc(var(--pfr) * 0.5);
  text-align: center;
}

.c-fun-fact__link {
  display: block;
  font-size: 0.75em;
  margin-top: calc(var(--pfr) * 0.5);
}

.c-role-list {
  display: flex;
  flex-flow: column;
  gap: calc(var(--pfr) * 3);
}

.c-role-list--grow {
  flex-grow: 1;
}

.c-role-list__item {
}

.c-role-list__item--to-bottom {
  margin-top: auto;
}

.c-role {
  display: block;
}

.c-role__organisation-name {
  font-family: "Stoke", serif;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: calc(var(--pfr) * 1);
}

.c-role__organisation-name--lg {
  font-size: 1.5em;
}

.c-role__meta-set {
  margin-bottom: calc(var(--pfr) * 1.5);
}

.c-role__meta-set:last-child {
  margin-bottom: 0;
}

.c-meta-set {
  display: flex;
  flex-flow: row wrap;
}

.c-meta-set__item {
  display: flex;
  flex-flow: row;
}

.c-meta-set__item--bold {
  font-weight: 700;
}

.c-meta-set__item:not(:last-child)::after {
  content: "\00B7";
  display: block;
  font-weight: 400;
  margin: 0 calc(var(--pfr) * 1);
}

.c-list {
  --gutter-width: 2em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-list__item {
  display: block;
  font-family: "Stoke", serif;
  line-height: 1.25;
  margin-bottom: calc(var(--pfr) * 1.375);
  padding-left: var(--gutter-width);
}

.c-list__item:last-child {
  margin-bottom: 0;
}

.c-list__item::before {
  content: "\2022";
  float: left;
  margin-left: calc(var(--gutter-width) * -1);
  width: var(--gutter-width);
}

.c-list__item::after {
  clear: both;
  content: "";
  display: block;
}

.c-role__client-cloud {
  margin-top: calc(var(--pfr) * 2.5);
}

.c-client-cloud {
  color: #666;
  font-size: 0.875em;
  line-height: 1.57142;
}

.c-client-cloud__title {
  color: #000;
  display: inline-block;
  font-size: 1em;
  font-weight: 600;
  margin: 0;
}

.c-client-cloud__list {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

.c-client-cloud__item {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.c-client-cloud__item::after {
  color: #aaa;
  content: "/";
  display: inline-block;
  padding: 0 1ch;
}

.c-client-cloud__item:last-child::after {
  display: none;
}

.c-skill-cloud {
  align-items: baseline;
  display: flex;
  flex-flow: row wrap;
  gap: calc(var(--pfr) * 0.75) calc(var(--pfr) * 1.5);
}

.c-skill-cloud__item {
  flex: 0 1 auto;
  font-family: "Stoke", serif;
  font-weight: bold;
  font-size: 1.25em;
  line-height: 1.4;
}

.c-skill-cloud__item[data-importance="5"] {
  font-size: 1.5em;
}
.c-skill-cloud__item[data-importance="4"] {
  font-size: 1.25em;
}
.c-skill-cloud__item[data-importance="3"] {
  font-size: 1.125em;
}
.c-skill-cloud__item[data-importance="2"] {
  font-size: 0.875em;
}
.c-skill-cloud__item[data-importance="1"] {
  font-size: 0.75em;
}

.c-lang-list {
  display: flex;
  flex-flow: column;
  gap: calc(var(--pfr) * 1.5);
}

.c-lang-list__item {
  display: flex;
  flex-flow: row wrap;
  flex: 0 0 auto;
  gap: calc(var(--pfr) * 0.9);
  padding-left: calc(var(--pfr) * 2);
}

.c-lang-list__header {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  font-family: "Stoke", serif;
  font-weight: bold;
}

.c-lang-list__icon {
  height: calc(var(--pfr) * 1);
  margin-left: calc(var(--pfr) * -2);
  margin-right: calc(var(--pfr) * 1);
  width: calc(var(--pfr) * 1);
}

.c-lang-list__description {
  flex: 1 0 fit-content;
  font-size: 0.9em;
  line-height: 1.25;
}

.c-project-list {
  display: flex;
  flex-flow: column;
  gap: calc(var(--pfr) * 2);
}

.c-project-list__item {
  flex: 0 0 auto;
}

.c-project {
  display: flex;
  flex-flow: row;
  gap: calc(var(--pfr) * 1.5);
}

.c-project__thumbnail {
  border: 1px solid;
  border-radius: calc(var(--pfr) * 0.5);
  flex: 0 0 auto;
  height: calc(var(--pfr) * 6.4);
  overflow: hidden;
  position: relative;
  width: calc(var(--pfr) * 6.4);
}

.c-project__thumbnail-image {
  display: block;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.c-project__text-content {
  flex: 1 1 auto;
}

.c-project__title {
  font-family: "Stoke", serif;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: calc(var(--pfr) * 1);
}

.c-project__meta-set {
  font-size: 0.85em;
  margin-bottom: calc(var(--pfr) * 1);
}

.c-project__description {
  font-family: "Stoke", serif;
  font-size: 0.85em;
  line-height: 1.5;
}

.c-page__portfolio {
}

.c-portfolio {
  align-content: space-between;
  border-top: 1px solid;
  display: flex;
  flex-flow: row wrap;
  padding-top: calc(var(--pfr) * 2);
}

.c-portfolio__title {
  flex: 0 0 100%;
  font-size: 0.875em;
  font-weight: 400;
  letter-spacing: 0.14286em;
  margin-bottom: calc(var(--pfr) * 3);
  text-transform: uppercase;
}

.c-portfolio__project-list {
  flex: 0 0 66.666%;
  padding-right: calc(var(--pfr) * 4);
}

.c-portfolio__catalogue {
  display: flex;
  flex: 1 0 min-content;
  flex-flow: column;
}

.c-portfolio__supplement {
  display: flex;
  font-size: 0.875em;
  line-height: 1.25;
  margin-top: auto;
}

.c-portfolio__supplement::before {
  content: "*";
  width: 3ch;
}

.c-catalogue {
  display: flex;
  flex-flow: column;
  gap: calc(var(--pfr) * 2);
}

.c-catalogue__section {
  display: flex;
  flex-flow: column;
  gap: calc(var(--pfr) * 0.5);
}

.c-catalogue__heading {
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: calc(var(--pfr) * 0.25);
}

.c-catalogue__item {
  font-size: 0.85em;
}
